{% extends "headerAndFooter.html" %}
{% block title %}
<title>All Cards</title>
{% endblock %}
{% block header %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/catalogue.css">
{% endblock %}
{% block content %}
<div class="pokemon-card-container">
  <div class="pokemon-card-section">
    <div class="section-header">
      <div class="section-banner">
        <img src="/static/logo.png" alt="Logo" style="height: 100px;" class="section-image">
      </div>
      <div class="section-text">
        <h2 class="section-title">All Cards</h2>
      </div>
      <div class="dropdowns-container">
        <label for="sort-by">Sort By:</label>
        <select id="sort-by">
          <option value="alphabetically">Alphabetically</option>
          <option value="price">Price (Lowest to Highest)</option>
          <option value="date">Date</option>
        </select>
      </div>
    </div>
    <div class="grid-container">
      {% for card in cards %}
        <a class="pokemon-card" href="{{ url_for('profiles', card_id=card['id']) }}">
          <h3>{{ card['name'] }}</h3>
          <img src="{{ card['imageUrl'] }}" style="height: 280px;">
          <h3>Series: {{ card['series'] }}</h3>
          <h6>Pokedex Number: {{ card['facts'][0] }}</h6>
          <h6>${{ card['marketValue'] }}</h6>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
{% block script %}
{{ super() }}
{% endblock %}
