<!DOCTYPE html>
<html>
<head>
  {% block title %}
  <title>All Cards</title>
  {% endblock %}
  {% block header %}
  <link rel="stylesheet" type="text/css" href="/static/catalogue.css">
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-container">
      <div class="dropdown">
        <button class="dropdown-btn"></button>
        <div class="popovermenu">
          <ul>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='HeartGold & SoulSilver') }}" class="buttontext">
                <span>HeartGold & SoulSilver</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='EX') }}" class="buttontext">
                <span>EX</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Sun & Moon') }}" class="buttontext">
                <span>Sun & Moon</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Diamond & Pearl') }}" class="buttontext">
                <span>Diamond & Pearl</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='XY') }}" class="buttontext">
                <span>XY</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Black & White') }}" class="buttontext">
                <span>Black & White</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Platinum') }}" class="buttontext">
                <span>Platinum</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Sword & Shield') }}" class="buttontext">
                <span>Sword & Shield</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Neo') }}" class="buttontext">
                <span>Neo</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Other') }}" class="buttontext">
                <span>Other</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Pop') }}" class="buttontext">
                <span>Pop</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Gym') }}" class="buttontext">
                <span>Gym</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Base') }}" class="buttontext">
                <span>Base</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="logo">
        <a href="{{ url_for('index') }}">
        <img src="/static/transparent.png" alt="Logo" style="height: 150px;">
      </a>
      </div>
      <form class="search-form" id="searchForm">
        <input type="text" id="searchInput" placeholder="Search" autocomplete="off">
        <button class="search-btn" type="submit"><img src="/static/search-icon-png-21.png" alt="Search" style="height: 15px;"></button>
        <div id="searchSuggestions" class="search-suggestions"></div>
      </form>
      <div class="cart">
        <button class="cart-btn">Cart 
          <img src="/static/basket-cart-icon-27.png" alt="Cart Image" style="height: 20px;">
          <p id="cart_count">{{ cart_count }}</p>
        </button>
        <div class="cart-popup">
          <ul>
            {% set cart_items_dict = {} %}
            {% for cart_item in cart_items %}
              {% set card_id = cart_item.card_id %}
              {% if card_id in cart_items_dict %}
                {% set _ = cart_items_dict[card_id].append(cart_item) %}
              {% else %}
                {% set _ = cart_items_dict.update({card_id: [cart_item]}) %}
              {% endif %}
            {% endfor %}
            {% for card_id, items in cart_items_dict.items() %}
              {% set quantity = items[0].quantity %}
              {% set first_item = items[0] %}
              <li>
                <div class="popup-container">
                  <div class="image-container">
                    <img src="{{ items[0].imageUrl }}" alt="Card Image" class="card-image">
                  </div>
                  <div class="content-container">
                    {% for item in items %}
                      <div class="combinedCartItem">
                        <a class="card-name" href="{{ url_for('profiles', card_id=item.card_id) }}">{{ item.name }}</a>
                        <div class="buttonQuantity">
                          <form class="quantity-form" id="decrease-form-{{ item.card_id }}" action="/decrease_quantity" method="POST">
                            <input type="hidden" name="card_id" value="{{ item.card_id }}">
                            <input type="hidden" name="token" value="{{ session.token }}">
                            <button class="minus-button" type="button" onclick="submitForm('decrease-form-{{ item.card_id }}')">-</button>
                          </form>
                          <span id="quantity-{{ item.card_id }}">{{ item.quantity }}</span>
                          <form class="quantity-form" id="increase-form-{{ item.card_id }}" action="/increase_quantity" method="POST">
                            <input type="hidden" name="card_id" value="{{ item.card_id }}">
                            <input type="hidden" name="token" value="{{ session.token }}">
                            <button class="plus-button" type="button" onclick="submitForm('increase-form-{{ item.card_id }}')">+</button>
                          </form>
                        </div>
                      </div>
                      <div class="item-details">
                        <a class="series" href="{{ url_for('series_catalogue', series_name=item.series) }}">{{ item.series }}</a>
                        <span class="price">${{ '%.2f' % (item.price * item.quantity) }}</span>
                        {% endfor %}
                      </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
              <div class="payment-summary">
                <div id="paypal-button"></div>

                <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                
                <script>
                  var CREATE_PAYMENT_URL = 'http://127.0.0.1:3030/payment';
                  var EXECUTE_PAYMENT_URL = 'http://127.0.0.1:3030/execute';
                
                  paypal.Button.render({
                
                    env: 'sandbox', // Use 'sandbox' for testing, change to 'production' for live transactions
                
                    commit: true, // Show 'Pay Now' button
                
                    payment: function() {
                      return paypal.request.post(CREATE_PAYMENT_URL).then(function(data) {
                        return data.paymentID;
                      });
                    },
                
                    onAuthorize: function(data) {
                      return paypal.request.post(EXECUTE_PAYMENT_URL, {
                        paymentID: data.paymentID,
                        payerID: data.payerID,
                      }).then(function(res) {
                
                        console.log(res.success);
                        alert('Purchase Successful');
                        
                        // Redirect to the success page if the response contains the redirect URL
                        if (res.redirect_url) {
                          window.location.href = '/executeRefresh';
                        }
                      });
                    }
                
                  }, '#paypal-button');
                </script>                
                <div class="total-value">
                  <span class="totalText">Total: ${{ '%.2f' % total_value }}</span>
                </div>
              </div>
        </div>        
        <script>
          function submitForm(formId) {
          document.getElementById(formId).submit();
          }
         </script>

      </div>
      <div class="dropdownSettings">
        <button class="dropdown-settings">Settings</button>
        <div class="popSettings">
          <ul>
            <li>
              <a href="{{ url_for('settings') }}" class="buttontext">
                <span>Account</span>
            </a>
              </li>
              <li>
                <a href="/logout" class="buttontext">
                  <span>Logout</span>
                </a>
              </li>
              </ul>
              </div>
              </div>
  </header>
  {% block content %}
  {% endblock %}
  {% if sucessful_message %}
  <script>
      window.setTimeout(function() {
        alert("{{ sucessful_message }}");
      }, 100);
    </script>
  {% endif %}

  {% block footer %}
  <div class="footer-basic">
    <footer>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Back to Top</a></li>
            <li class="list-inline-item"><a href="/contact">Contact</a></li>
            <li class="list-inline-item"><a href="/about">About</a></li>
            <li class="list-inline-item"><a href="/privacy">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Pokèfinder Online © 2023</p>
    </footer>
</div>
  {% endblock %}
  {% block script %}
  <script src="/static/settingsDropdown.js"></script>
  <script src="/static/dropdown-menu.js"></script>
  <script src="/static/login-popup.js"></script>
  <script src="/static/searchingAutofill.js"></script>
  <script>
    document.getElementById('searchForm').addEventListener('submit', function(event) {
      event.preventDefault();
      var pokemonName = document.getElementById('searchInput').value;
      location.href = "{{ url_for('searched_catalogue', pokemon_name='') }}" + encodeURIComponent(pokemonName); 
    });

  document.addEventListener("DOMContentLoaded", function() {
  var cartBtn = document.querySelector(".cart-btn");
  var loginPopup = document.querySelector(".login-popup");

  cartBtn.addEventListener("click", function() {
    loginPopup.style.display = loginPopup.style.display === "none" ? "block" : "none";
  });
});

document.addEventListener('DOMContentLoaded', function() {
    var decreaseBtns = document.getElementsByClassName('decrease-btn');
    Array.from(decreaseBtns).forEach(function(btn) {
      btn.addEventListener('click', function() {
        var cardId = this.getAttribute('data-card-id');
        var quantitySpan = document.getElementById(cardId + '-quantity');
        
        fetch('/decrease_quantity', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ card_id: cardId })
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(data) {
          quantitySpan.textContent = data.new_quantity;
          
          if (data.new_quantity === 0) {
            var cartItem = btn.closest('.cart-item');
            cartItem.parentNode.removeChild(cartItem);
          }
        });
      });
    });
    
    var increaseBtns = document.getElementsByClassName('increase-btn');
    Array.from(increaseBtns).forEach(function(btn) {
      btn.addEventListener('click', function() {
        var cardId = this.getAttribute('data-card-id');
        var quantitySpan = document.getElementById(cardId + '-quantity');
        
        fetch('/increase_quantity', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ card_id: cardId })
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(data) {
          quantitySpan.textContent = data.new_quantity;
        });
      });
    });
  });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const popupWrapper = document.querySelector(".popup-wrapper");
        const paymentSummary = popupWrapper.querySelector(".payment-summary");
    
        function updatePaymentSummaryPosition() {
          const popupHeight = popupWrapper.offsetHeight;
          const paymentSummaryHeight = paymentSummary.offsetHeight;
    
          if (paymentSummaryHeight <= popupHeight) {
            paymentSummary.style.position = "sticky";
          } else {
            paymentSummary.style.position = "static";
          }
        }
        updatePaymentSummaryPosition();
        window.addEventListener("resize", updatePaymentSummaryPosition);
      });
    </script>
  {% endblock %}
</body>
</html>