<!DOCTYPE html>
<html>
<head>
  {% block title %}
  <title>All Cards</title>
  {% endblock %}
  {% block header %}
  <link rel="stylesheet" type="text/css" href="/static/catalogue.css">
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-container">
      <div class="dropdown">
        <button class="dropdown-btn"></button>
        <div class="popovermenu">
          <ul>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='HeartGold & SoulSilver') }}" class="buttontext">
                <span>HeartGold & SoulSilver</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='EX') }}" class="buttontext">
                <span>EX</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Sun & Moon') }}" class="buttontext">
                <span>Sun & Moon</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Diamond & Pearl') }}" class="buttontext">
                <span>Diamond & Pearl</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='XY') }}" class="buttontext">
                <span>XY</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Black & White') }}" class="buttontext">
                <span>Black & White</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Platinum') }}" class="buttontext">
                <span>Platinum</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Sword & Shield') }}" class="buttontext">
                <span>Sword & Shield</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Neo') }}" class="buttontext">
                <span>Neo</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Other') }}" class="buttontext">
                <span>Other</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Pop') }}" class="buttontext">
                <span>Pop</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Gym') }}" class="buttontext">
                <span>Gym</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Base') }}" class="buttontext">
                <span>Base</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="logo">
        <a href="{{ url_for('index') }}">
        <img src="/static/transparent.png" alt="Logo" style="height: 150px;">
      </a>
      </div>
      <form class="search-form" id="searchForm">
        <input type="text" id="searchInput" placeholder="Search" autocomplete="off">
        <button class="search-btn" type="submit"><img src="/static/search-icon-png-21.png" alt="Search" style="height: 15px;"></button>
        <div id="searchSuggestions" class="search-suggestions"></div>
      </form>
      <div class="cart">
        <button class="cart-btn">Cart <img src="/static/basket-cart-icon-27.png" alt="Cart Image" style="height: 20px;"></button>
      </div>
      <div class="dropdownSettings">
        <button class="dropdown-settings">Settings</button>
        <div class="popSettings">
          <ul>
            <li>
              <a href="" class="buttontext">
                <span>Favorites</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('settings') }}" class="buttontext">
                <span>Account</span>
            </a>
              </li>
              <li>
                <a href="" class="buttontext">
                  <span>Manage Returns</span>
                </a>
              </li>
              <li>
                <a href="/logout" class="buttontext">
                  <span>Logout</span>
                </a>
              </li>
              </ul>
              </div>
              </div>
  </header>

  {% block content %}
  {% endblock %}
  {% if sucessful_message %}
  <script>
    alert("{{ sucessful_message }}");
  </script>
{% endif %}

  {% block footer %}
  <div class="footer-basic">
    <footer>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Back to Top</a></li>
            <li class="list-inline-item"><a href="#">Contact</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Pokèfinder Online © 2023</p>
    </footer>
</div>
  {% endblock %}
  {% block script %}
  <script src="/static/settingsDropdown.js"></script>
  <script src="/static/dropdown-menu.js"></script>
  <script src="/static/login-popup.js"></script>
  <script src="/static/searchingAutofill.js"></script>
  <script>
    document.getElementById('searchForm').addEventListener('submit', function(event) {
      event.preventDefault();
      var pokemonName = document.getElementById('searchInput').value;
      location.href = "{{ url_for('searched_catalogue', pokemon_name='') }}" + encodeURIComponent(pokemonName); 
    });
    </script>
  {% endblock %}
</body>
</html>