<!DOCTYPE html>
<html>
<head>
  {% block title %}
  <title>All Cards</title>
  {% endblock %}
  {% block header %}
  <link rel="stylesheet" type="text/css" href="/static/catalogue.css">
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-container">
      <div class="dropdown">
        <button class="dropdown-btn"></button>
        <div class="popovermenu">
          <ul>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='HeartGold & SoulSilver') }}" class="buttontext">
                <span>HeartGold & SoulSilver</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='EX') }}" class="buttontext">
                <span>EX</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Sun & Moon') }}" class="buttontext">
                <span>Sun & Moon</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Diamond & Pearl') }}" class="buttontext">
                <span>Diamond & Pearl</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='XY') }}" class="buttontext">
                <span>XY</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Black & White') }}" class="buttontext">
                <span>Black & White</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Platinum') }}" class="buttontext">
                <span>Platinum</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Sword & Shield') }}" class="buttontext">
                <span>Sword & Shield</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Neo') }}" class="buttontext">
                <span>Neo</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Other') }}" class="buttontext">
                <span>Other</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Pop') }}" class="buttontext">
                <span>Pop</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Gym') }}" class="buttontext">
                <span>Gym</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('series_catalogue', series_name='Base') }}" class="buttontext">
                <span>Base</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="logo">
        <a href="{{ url_for('index') }}">
        <img src="/static/transparent.png" alt="Logo" style="height: 150px;">
      </a>
      </div>
      <form class="search-form" id="searchForm">
        <input type="text" id="searchInput" placeholder="Search" autocomplete="off">
        <button class="search-btn" type="submit"><img src="/static/search-icon-png-21.png" alt="Search" style="height: 15px;"></button>
        <div id="searchSuggestions" class="search-suggestions"></div>
      </form>
      <div class="cart">
        {% if currentRoute not in ['settings', 'settingsP', 'settingsD'] %}
        <button class="cart-btn">Cart 
          <img src="/static/basket-cart-icon-27.png" alt="Cart Image" style="height: 20px;">
          <p id="cart_count">{{ cart_count }}</p>
        </button>
        {% endif %}
        <div class="cart-popup">
          <ul>
            {% set cart_items_dict = {} %}
            {% for cart_item in cart_items %}
              {% set card_id = cart_item.card_id %}
              {% if card_id in cart_items_dict %}
                {% set _ = cart_items_dict[card_id].append(cart_item) %}
              {% else %}
                {% set _ = cart_items_dict.update({card_id: [cart_item]}) %}
              {% endif %}
            {% endfor %}
            {% for card_id, items in cart_items_dict.items() %}
              {% set quantity = items[0].quantity %}
              {% set first_item = items[0] %}
              <li>
                <div class="popup-container">
                  <div class="image-container">
                    <img src="{{ items[0].imageUrl }}" alt="Card Image" class="card-image">
                  </div>
                  <div class="content-container">
                    {% for item in items %}
                      <div class="combinedCartItem">
                        <a class="card-name" href="{{ url_for('profiles', card_id=item.card_id) }}">{{ item.name }}</a>
                        <div class="buttonQuantity">
                          <form class="quantity-form" id="decrease-form-{{ item.card_id }}" action="/decrease_quantity" method="POST">
                            <input type="hidden" name="card_id" value="{{ item.card_id }}">
                            <input type="hidden" name="token" value="{{ session.token }}">
                            <button class="minus-button" type="button" onclick="submitForm('decrease-form-{{ item.card_id }}')">-</button>
                          </form>
                          <span id="quantity-{{ item.card_id }}">{{ item.quantity }}</span>
                          <form class="quantity-form" id="increase-form-{{ item.card_id }}" action="/increase_quantity" method="POST">
                            <input type="hidden" name="card_id" value="{{ item.card_id }}">
                            <input type="hidden" name="token" value="{{ session.token }}">
                            <button class="plus-button" type="button" onclick="submitForm('increase-form-{{ item.card_id }}')">+</button>
                          </form>
                        </div>
                      </div>
                      <div class="item-details">
                        <a class="series" href="{{ url_for('series_catalogue', series_name=item.series) }}">{{ item.series }}</a>
                        <span class="price">${{ '%.2f' % (item.price * item.quantity) }}</span>
                        {% endfor %}
                      </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
              <div class="payment-summary">
                <div>
                  <button class="pay-now-button">Pay Now</button>
                </div>
                <div class="total-value">
                  <span class="totalText">Total: ${{ '%.2f' % total_value }}</span>
                </div>
              </div>
        </div> 
        <div id="payment-popup" class="payment-popup" style="display: none;">
          <div class="payment-options">
            <h2 class="deliveryOp">Delivery Options</h2>
            <form id="form-delivery" method="POST" action="/payment" class="delivery-form">
              <input type="hidden" id="total-amount" name="total-amount">
                <div class="form-group">
                    <label for="delivery-option">Select Delivery Option:</label>
                    <select id="delivery-option" name="delivery-option" class="delivery-option-select">
                        <option value="0" {% if not delivery_option %}selected{% endif %}>Create New Delivery Option</option>
                        {% for delivery_detail in delivery_details %}
                            <option value="{{ delivery_detail.id }}" data-address1="{{ delivery_detail.address1 }}" data-address2="{{ delivery_detail.address2 }}" data-country="{{ delivery_detail.country }}" data-city="{{ delivery_detail.city }}" data-zip-code="{{ delivery_detail.zip_code }}" data-phone-number="{{ delivery_detail.phone_number }}"
                            {% if delivery_option %}
                                {% if delivery_option in delivery_detail.id %}
                                    selected
                                {% endif %}
                            {% endif %}>
                                Delivery Address {{ loop.index }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="address1">Address 1:</label>
                    <input type="text" id="address1" name="address1" placeholder="Enter Address 1" class="readonly-input">
                </div>
                <div class="form-group">
                    <label for="address2">Address 2:</label>
                    <input type="text" id="address2" name="address2" placeholder="Enter Address 2" class="readonly-input">
                </div>
                <div class="form-group">
                    <label for="country">Country:</label>
                    <input type="text" id="country" name="country" placeholder="Enter Country" class="readonly-input">
                </div>
                <div class="form-group">
                    <label for="city">City:</label>
                    <input type="text" id="city" name="city" placeholder="Enter City" class="readonly-input">
                </div>
                <div class="form-group">
                    <label for="zip-code">Zip Code:</label>
                    <input type="text" id="zip-code" name="zip-code" placeholder="Enter Zip Code" class="readonly-input">
                </div>
                <div class="form-group">
                    <label for="phone-number">Phone Number:</label>
                    <input type="tel" id="phone-number" name="phone-number" placeholder="Enter Phone Number" class="readonly-input">
                </div>
        </div>
        <div class="payment-options">
            <h2 class="divider-text">Payment Options</h2>
                <div class="form-group">
                    <label for="payment-option">Select Payment Option:</label>
                    <select id="payment" name="payment-option" class="payment-option-select">
                        <option value="0" {% if not payment %}selected{% endif %}>Create New Payment Option</option>
                        {% for payment_option in payment_options %}
                            <option value="{{ payment_option.id }}" data-card-number="{{ payment_option.card_number }}" data-cardholder-name="{{ payment_option.cardholder_name }}" data-expiration-date="{{ payment_option.expiration_date }}" data-cvv-number="{{ payment_option.cvv_number }}"
                            {% if payment %}
                                {% if payment in payment_option.id %}
                                    selected
                                {% endif %}
                            {% endif %}>
                                Card {{ loop.index }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="card-number">Card Number:</label>
                    <input type="text" id="card-number" name="card-number" placeholder="Enter Card Number" class="readonly-input">
                </div>
                <div class="form-group">
                    <label for="card-name">Cardholder Name:</label>
                    <input type="text" id="card-name" name="card-name" placeholder="Enter Cardholder Name" class="readonly-input">
                </div>
                <div class="form-group">
                    <label for="expiration-date">Expiration Date:</label>
                    <input type="text" id="expiration-date" name="expiration-date" placeholder="MM/YY" class="readonly-input">
                </div>
                <div class="form-group">
                    <label for="cvv">CVV Number:</label>
                    <input type="text" id="cvv" name="cvv" placeholder="Enter CVV Number"y class="readonly-input">
                </div>
                <div id="make-changes">
                  <button type="submit" class="change-button">Submit Order</button>
                </div>
                </div>
            </form>
            </div>
        <script>

function setTotalAmount() {
    const totalValueElement = document.querySelector('.total-value .totalText');
    const totalAmountText = totalValueElement.textContent;
    const totalAmount = parseFloat(totalAmountText.replace('Total: $', ''));
    document.getElementById('total-amount').value = totalAmount;
  }
document.getElementById("delivery-option").addEventListener("change", function() {
    const isCreateNewDeliveryOption = this.value !== "0";
    toggleReadOnlyStateDelivery(isCreateNewDeliveryOption);
  });

  document.getElementById("payment").addEventListener("change", function() {
    const isCreateNewPaymentOption = this.value !== "0";
    toggleReadOnlyStatePayment(isCreateNewPaymentOption);
  });

  function toggleReadOnlyStateDelivery(isCreateNewDeliveryOption) {
    document.getElementById("address1").readOnly = isCreateNewDeliveryOption;
    document.getElementById("address2").readOnly = isCreateNewDeliveryOption;
    document.getElementById("country").readOnly = isCreateNewDeliveryOption;
    document.getElementById("city").readOnly = isCreateNewDeliveryOption;
    document.getElementById("zip-code").readOnly = isCreateNewDeliveryOption;
    document.getElementById("phone-number").readOnly = isCreateNewDeliveryOption;
  }

  function toggleReadOnlyStatePayment(isCreateNewPaymentOption) {
    document.getElementById("card-number").readOnly = isCreateNewPaymentOption;
    document.getElementById("card-name").readOnly = isCreateNewPaymentOption;
    document.getElementById("expiration-date").readOnly = isCreateNewPaymentOption;
    document.getElementById("cvv").readOnly = isCreateNewPaymentOption;
  }
          function updateDeliveryDetails() {
  var selectOption = document.getElementById("delivery-option");
  var selectedOptionIndex = selectOption.selectedIndex;
  var selectedOption = selectOption.options[selectedOptionIndex];

  document.getElementById("address1").placeholder = selectedOption.getAttribute("data-address1") || "";
  document.getElementById("address2").placeholder = selectedOption.getAttribute("data-address2") || "";
  document.getElementById("country").placeholder = selectedOption.getAttribute("data-country") || "";
  document.getElementById("city").placeholder = selectedOption.getAttribute("data-city") || "";
  document.getElementById("zip-code").placeholder = selectedOption.getAttribute("data-zip-code") || "";
  document.getElementById("phone-number").placeholder = selectedOption.getAttribute("data-phone-number") || "";
}

function openPaymentPopup() {
    document.querySelector(".cart-popup").style.display = "none";
    document.getElementById("payment-popup").style.display = "block";
  }

  function closePaymentPopup() {
    document.querySelector(".cart-popup").style.display = "block";
    document.getElementById("payment-popup").style.display = "none";
  }

  document.querySelector(".pay-now-button").addEventListener("click", openPaymentPopup);

function updatePaymentDetails() {
        var selectOption = document.getElementById("payment");
        var selectedOptionIndex = selectOption.selectedIndex;
        var selectedOption = selectOption.options[selectedOptionIndex];

        document.getElementById("card-number").placeholder = selectedOption.getAttribute("data-card-number") || "";
        document.getElementById("card-name").placeholder = selectedOption.getAttribute("data-cardholder-name") || "";
        document.getElementById("expiration-date").placeholder = selectedOption.getAttribute("data-expiration-date") || "";
        document.getElementById("cvv").placeholder = selectedOption.getAttribute("data-cvv-number") || "";
    }
    document.getElementById("payment").addEventListener("change", updatePaymentDetails);
    document.getElementById("delivery-option").addEventListener("change", updateDeliveryDetails);

        function submitForm() {
          document.getElementById("form-payment").submit();
        }
         </script>

      </div>
      <div class="dropdownSettings">
        <button class="dropdown-settings">Settings</button>
        <div class="popSettings">
          <ul>
            <li>
              <a href="{{ url_for('settings') }}" class="buttontext">
                <span>Account</span>
            </a>
              </li>
              <li>
                <a href="" class="buttontext">
                  <span>Manage Returns</span>
                </a>
              </li>
              <li>
                <a href="/logout" class="buttontext">
                  <span>Logout</span>
                </a>
              </li>
              </ul>
              </div>
              </div>
  </header>
  {% block content %}
  {% endblock %}
  {% if sucessful_message %}
  <script>
      window.setTimeout(function() {
        alert("{{ sucessful_message }}");
      }, 100);
    </script>
  {% endif %}

  {% block footer %}
  <div class="footer-basic">
    <footer>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Back to Top</a></li>
            <li class="list-inline-item"><a href="/contact">Contact</a></li>
            <li class="list-inline-item"><a href="/about">About</a></li>
            <li class="list-inline-item"><a href="/privacy">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Pokèfinder Online © 2023</p>
    </footer>
</div>
  {% endblock %}
  {% block script %}
  <script src="/static/settingsDropdown.js"></script>
  <script src="/static/dropdown-menu.js"></script>
  <script src="/static/login-popup.js"></script>
  <script src="/static/searchingAutofill.js"></script>
  <script>
    document.getElementById('searchForm').addEventListener('submit', function(event) {
      event.preventDefault();
      var pokemonName = document.getElementById('searchInput').value;
      location.href = "{{ url_for('searched_catalogue', pokemon_name='') }}" + encodeURIComponent(pokemonName); 
    });

  document.addEventListener("DOMContentLoaded", function() {
  var cartBtn = document.querySelector(".cart-btn");
  var loginPopup = document.querySelector(".login-popup");

  cartBtn.addEventListener("click", function() {
    loginPopup.style.display = loginPopup.style.display === "none" ? "block" : "none";
  });
});

document.addEventListener('DOMContentLoaded', function() {
    var decreaseBtns = document.getElementsByClassName('decrease-btn');
    Array.from(decreaseBtns).forEach(function(btn) {
      btn.addEventListener('click', function() {
        var cardId = this.getAttribute('data-card-id');
        var quantitySpan = document.getElementById(cardId + '-quantity');
        
        fetch('/decrease_quantity', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ card_id: cardId })
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(data) {
          quantitySpan.textContent = data.new_quantity;
          
          if (data.new_quantity === 0) {
            var cartItem = btn.closest('.cart-item');
            cartItem.parentNode.removeChild(cartItem);
          }
        });
      });
    });
    
    var increaseBtns = document.getElementsByClassName('increase-btn');
    Array.from(increaseBtns).forEach(function(btn) {
      btn.addEventListener('click', function() {
        var cardId = this.getAttribute('data-card-id');
        var quantitySpan = document.getElementById(cardId + '-quantity');
        
        fetch('/increase_quantity', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ card_id: cardId })
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(data) {
          quantitySpan.textContent = data.new_quantity;
        });
      });
    });
  });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const popupWrapper = document.querySelector(".popup-wrapper");
        const paymentSummary = popupWrapper.querySelector(".payment-summary");
    
        function updatePaymentSummaryPosition() {
          const popupHeight = popupWrapper.offsetHeight;
          const paymentSummaryHeight = paymentSummary.offsetHeight;
    
          if (paymentSummaryHeight <= popupHeight) {
            paymentSummary.style.position = "sticky";
          } else {
            paymentSummary.style.position = "static";
          }
        }
        updatePaymentSummaryPosition();
        window.addEventListener("resize", updatePaymentSummaryPosition);
      });
    </script>
  {% endblock %}
</body>
</html>