
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Ditto | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/base3/3.png" alt="Ditto">
        <h2>Ditto</h2>
        <p><strong>From:</strong> Base Series</p>
        <p><strong>Market Value:</strong> $63.73</p>
        <p>National Pokedex Number: 132</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    