
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Dark Alakazam | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/base5/1.png" alt="Dark Alakazam">
        <h2>Dark Alakazam</h2>
        <p><strong>From:</strong> Base Series</p>
        <p><strong>Market Value:</strong> $68.64</p>
        <p>National Pokedex Number: 65</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    