
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Dragonite | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/base3/4.png" alt="Dragonite">
        <h2>Dragonite</h2>
        <p><strong>From:</strong> Base Series</p>
        <p><strong>Market Value:</strong> $252.83</p>
        <p>National Pokedex Number: 149</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    