
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Bulbasaur | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/bw5/1.png" alt="Bulbasaur">
        <h2>Bulbasaur</h2>
        <p><strong>From:</strong> Black & White Series</p>
        <p><strong>Market Value:</strong> $2.5</p>
        <p>National Pokedex Number: 1</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    