
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Venusaur | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/bw5/3.png" alt="Venusaur">
        <h2>Venusaur</h2>
        <p><strong>From:</strong> Black & White Series</p>
        <p><strong>Market Value:</strong> $8.61</p>
        <p>National Pokedex Number: 3</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    