
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Gloom | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/bw7/2.png" alt="Gloom">
        <h2>Gloom</h2>
        <p><strong>From:</strong> Black & White Series</p>
        <p><strong>Market Value:</strong> $0.34</p>
        <p>National Pokedex Number: 44</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    