
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Dialga | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/dp1/1.png" alt="Dialga">
        <h2>Dialga</h2>
        <p><strong>From:</strong> Diamond & Pearl Series</p>
        <p><strong>Market Value:</strong> $13.25</p>
        <p>National Pokedex Number: 483</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    