
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Chimchar | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/dpp/DP02.png" alt="Chimchar">
        <h2>Chimchar</h2>
        <p><strong>From:</strong> Diamond & Pearl Series</p>
        <p><strong>Market Value:</strong> $3.97</p>
        <p>National Pokedex Number: 390</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    