
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Pachirisu | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/dpp/DP04.png" alt="Pachirisu">
        <h2>Pachirisu</h2>
        <p><strong>From:</strong> Diamond & Pearl Series</p>
        <p><strong>Market Value:</strong> $2.63</p>
        <p>National Pokedex Number: 417</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    