
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Dragonair | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/dv1/4.png" alt="Dragonair">
        <h2>Dragonair</h2>
        <p><strong>From:</strong> Black & White Series</p>
        <p><strong>Market Value:</strong> $6.47</p>
        <p>National Pokedex Number: 148</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    