
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Armaldo δ | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/ex13/1.png" alt="Armaldo δ">
        <h2>Armaldo δ</h2>
        <p><strong>From:</strong> EX Series</p>
        <p><strong>Market Value:</strong> $10.6</p>
        <p>National Pokedex Number: 348</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    