
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Camerupt | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/ex14/3.png" alt="Camerupt">
        <h2>Camerupt</h2>
        <p><strong>From:</strong> EX Series</p>
        <p><strong>Market Value:</strong> $3.31</p>
        <p>National Pokedex Number: 323</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    