
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Team Aqua's Kyogre | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/ex4/3.png" alt="Team Aqua's Kyogre">
        <h2>Team Aqua's Kyogre</h2>
        <p><strong>From:</strong> EX Series</p>
        <p><strong>Market Value:</strong> $21.61</p>
        <p>National Pokedex Number: 382</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    