
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Brock's Rhydon | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/gym1/2.png" alt="Brock's Rhydon">
        <h2>Brock's Rhydon</h2>
        <p><strong>From:</strong> Gym Series</p>
        <p><strong>Market Value:</strong> $60.42</p>
        <p>National Pokedex Number: 112</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    