
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Erika's Clefable | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/gym1/3.png" alt="Erika's Clefable">
        <h2>Erika's Clefable</h2>
        <p><strong>From:</strong> Gym Series</p>
        <p><strong>Market Value:</strong> $52.97</p>
        <p>National Pokedex Number: 36</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    