
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Blaine's Moltres | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/gym1/1.png" alt="Blaine's Moltres">
        <h2>Blaine's Moltres</h2>
        <p><strong>From:</strong> Gym Series</p>
        <p><strong>Market Value:</strong> $183.81</p>
        <p>National Pokedex Number: 146</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    