
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Blaine's Arcanine | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/gym2/1.png" alt="Blaine's Arcanine">
        <h2>Blaine's Arcanine</h2>
        <p><strong>From:</strong> Gym Series</p>
        <p><strong>Market Value:</strong> $215.39</p>
        <p>National Pokedex Number: 59</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    