
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Clefable | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/hgss1/3.png" alt="Clefable">
        <h2>Clefable</h2>
        <p><strong>From:</strong> HeartGold & SoulSilver Series</p>
        <p><strong>Market Value:</strong> $4.17</p>
        <p>National Pokedex Number: 36</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    