
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Magmar | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/mcd19/3.png" alt="Magmar">
        <h2>Magmar</h2>
        <p><strong>From:</strong> Other Series</p>
        <p><strong>Market Value:</strong> $3.36</p>
        <p>National Pokedex Number: 126</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    