
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Dark Crobat | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/neo4/2.png" alt="Dark Crobat">
        <h2>Dark Crobat</h2>
        <p><strong>From:</strong> Neo Series</p>
        <p><strong>Market Value:</strong> $83.5</p>
        <p>National Pokedex Number: 169</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    