
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Delcatty | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/pl1/4.png" alt="Delcatty">
        <h2>Delcatty</h2>
        <p><strong>From:</strong> Platinum Series</p>
        <p><strong>Market Value:</strong> $4.77</p>
        <p>National Pokedex Number: 301</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    