
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Drifblim FB | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/pl3/3.png" alt="Drifblim FB">
        <h2>Drifblim FB</h2>
        <p><strong>From:</strong> Platinum Series</p>
        <p><strong>Market Value:</strong> $5.42</p>
        <p>National Pokedex Number: 426</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    