
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Blaziken FB | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/pl3/2.png" alt="Blaziken FB">
        <h2>Blaziken FB</h2>
        <p><strong>From:</strong> Platinum Series</p>
        <p><strong>Market Value:</strong> $15.05</p>
        <p>National Pokedex Number: 257</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    