
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Blaziken | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/pop1/1.png" alt="Blaziken">
        <h2>Blaziken</h2>
        <p><strong>From:</strong> POP Series</p>
        <p><strong>Market Value:</strong> $6.19</p>
        <p>National Pokedex Number: 257</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    