
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Ninetales | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/ru1/3.png" alt="Ninetales">
        <h2>Ninetales</h2>
        <p><strong>From:</strong> Other Series</p>
        <p><strong>Market Value:</strong> $28.81</p>
        <p>National Pokedex Number: 38</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    