
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Togepi | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/si1/4.png" alt="Togepi">
        <h2>Togepi</h2>
        <p><strong>From:</strong> Other Series</p>
        <p><strong>Market Value:</strong> $36.04</p>
        <p>National Pokedex Number: 175</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    