
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Caterpie | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/sm1/1.png" alt="Caterpie">
        <h2>Caterpie</h2>
        <p><strong>From:</strong> Sun & Moon Series</p>
        <p><strong>Market Value:</strong> $0.11</p>
        <p>National Pokedex Number: 10</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    