
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Oddish | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/sm12/2.png" alt="Oddish">
        <h2>Oddish</h2>
        <p><strong>From:</strong> Sun & Moon Series</p>
        <p><strong>Market Value:</strong> $0.12</p>
        <p>National Pokedex Number: 43</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    