
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Kakuna | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/sm9/4.png" alt="Kakuna">
        <h2>Kakuna</h2>
        <p><strong>From:</strong> Sun & Moon Series</p>
        <p><strong>Market Value:</strong> $0.19</p>
        <p>National Pokedex Number: 14</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    