
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Venusaur V | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/swsh35/1.png" alt="Venusaur V">
        <h2>Venusaur V</h2>
        <p><strong>From:</strong> Sword & Shield Series</p>
        <p><strong>Market Value:</strong> $1.95</p>
        <p>National Pokedex Number: 3</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    