
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Shuckle | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/xy10/1.png" alt="Shuckle">
        <h2>Shuckle</h2>
        <p><strong>From:</strong> XY Series</p>
        <p><strong>Market Value:</strong> $0.17</p>
        <p>National Pokedex Number: 213</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    