
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Venonat | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/xy4/1.png" alt="Venonat">
        <h2>Venonat</h2>
        <p><strong>From:</strong> XY Series</p>
        <p><strong>Market Value:</strong> $0.22</p>
        <p>National Pokedex Number: 48</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    