
      {% extends "headerAndFooter.html" %}
      {% block title %}
      <title>Bellossom | Pokemon Cards</title>
      {% endblock %}  
      {% block header %}
      {{ super() }}
      <link rel="stylesheet" type="text/css" href="/static/cardStyling.css">
      {% endblock %}
        {% block content %}
        <img class="card-image" src="https://images.pokemontcg.io/xy7/4.png" alt="Bellossom">
        <h2>Bellossom</h2>
        <p><strong>From:</strong> XY Series</p>
        <p><strong>Market Value:</strong> $0.35</p>
        <p>National Pokedex Number: 182</p>
        {% endblock %}
        {% block footer %}
        {{ super() }}
        {% endblock %}
        {% block script %}
        {{ super() }}
        <script src="/static/cardZooming.js"></script>
        {% endblock %}
    